version: "3.9"
services:
      celery:
        image: iamukn/trackerr:1.0.25
        command: celery -A trackerr_v1 worker --discard --loglevel info --concurrency=1
        env_file:
            - .env
        depends_on:
            - postgres
            - redis
            - trackerr
        networks:
            - connect
