# Compose file for the Tracker_V1 app
version: "3.9"
include:
    - db.yaml
    - celery.yml
services:
    trackerr:
        image: iamukn/trackerr:1.0.25
        command: /bin/bash -c "python3 manage.py collectstatic --no-input && daphne -b 0.0.0.0 -p 8000 trackerr_v1.asgi:application"
        ports:
            - "8000:8000"
        env_file:
          - .env
        depends_on:
            - postgres
            - redis
        volumes:
            - static_files:/static
            - media_files:/media
        networks:
            - connect
              #        develop:
              #watch:
              #  - action: sync
              #    path: ../
              #    target: /app
networks:
    connect:
volumes:
  static_files:
  media_files:
