version: "3.9"
services:
    postgres:
        image: postgres
        env_file:
          - .env
        volumes:
            - /root/trackerr_app/Trackerr1.1/pgdata:/var/lib/postgresql/data
        networks:
            - connect
    redis:
        image: redis
        networks:
            - connect
    nginx:
      image: nginx:latest
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - static_files:/static
        - media_files:/media
        - /etc/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
        - /etc/letsencrypt/:/etc/letsencrypt/
      depends_on:
        - trackerr
      networks:
        - connect
